<footer class="bg-dark text-white pt-3 pb-4">
    <div class="container">
        <div class="row text-center justify-content-around">
            <div class="col-md-4">
                <img src="/static/media/Logo.png" alt="alex's dev path logo">
                <hr class="light">
                <p>About this website</p>
                <p>This is a website that depicts my journey into full-stack development. My previous job roles, history
                    and much more!</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-around">
                <h3>Contact me</h3>
                <hr class="light">
                <p>Phone: +447411860613</p>
                <p>Email: alex.antony.jy@gmail.com</p>
                <p>Address: 200 Fake Boulevard,</p>
                <p>Newcastle Upon-Tyne,</p>
                <p>NE3 XPY, UK</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-around">
                <h3>Follow me!</h3>
                <hr class="light">
                <a href="https://www.facebook.com" aria-label="link to my facebook page" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com" aria-label="link to my instagram page" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.twitter.com" aria-label="link to my twitter page" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://github.com/AlexAntony3" aria-label="link to my github page" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <div class="col-12">
                <hr class="light">
                <h4>&copy; Alex Antony 2023</h4>
            </div>
        </div>

    </div>
</footer>