{% extends "base.html" %}
{% block content %}
<div class="spacer">
    &nbsp;
</div>
<div class="container-fluid background-title text-center">
    <div class="row">
        <div class="col-12">
            <h2 class="main-title">About</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-4 form-style">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <a href="{% url 'dashboard' %}" class="btn btn-dark btn-style">Back</a>
                <input type="submit" , name="Submit" class="btn-style btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}