{% extends "base.html" %}
{% block content %}
<div class="spacer">
    &nbsp;
</div>
<div class="container-fluid background-title text-center">
    <div class="row">
        <div class="col-12">
            <h2 class="main-title">Dashboard</h2>
        </div>
    </div>
</div>
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="toast-body bg-success text-light position-relative top-0 end-0 p-3" style="z-index: 11; font-size: 1.5rem;">
    {{message}}
</div>
{% endif %}
{% endfor %}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center">
                <img class="card-img-top" src="/static/media/about-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">About</h5>
                    {% for data in about %}
                    <a href="{% url 'edit-about' data.id %}" class="btn btn-info pl-3"
                        style="font-size: 1.5rem;">Edit</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center rounded">
                <img class="card-img-top" src="/static/media/skills-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Skills</h5>
                    <a href="{% url 'create-skill' %}" class="btn btn-success pl-3"
                        style="font-size: 1.5rem;">Create</a>
                    <table class="table table-dark table-sm table-hover" style="font-size: 1.5rem;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for skill in skills %}
                            <tr>
                                <td>{{skill.name}}</td>
                                <td>
                                    <a class="btn btn-outline-info" href="{% url 'edit-skill' skill.id %}">Edit</a>
                                    <a class="btn btn-outline-danger"
                                        href="{% url 'delete-skill' skill.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center">
                <img class="card-img-top" src="/static/media/project-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Projects</h5>
                    <a href="{% url 'create-project' %}" class="btn btn-success pl-3"
                        style="font-size: 1.5rem;">Create</a>
                    <table class="table table-dark table-sm table-hover" style="font-size: 1.5rem;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>{{project.name}}</td>
                                <td>
                                    <a class="btn btn-outline-info" href="{% url 'edit-project' project.id %}">Edit</a>
                                    <a class="btn btn-outline-danger"
                                        href="{% url 'delete-project' project.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center">
                <img class="card-img-top" src="/static/media/education-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Education</h5>
                    <a href="{% url 'add-education' %}" class="btn btn-success pl-3"
                        style="font-size: 1.5rem;">Create</a>
                    <table class="table table-dark table-sm table-hover" style="font-size: 1.5rem;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for education in educations %}
                            <tr>
                                <td>{{education.institute}}</td>
                                <td>
                                    <a class="btn btn-outline-info"
                                        href="{% url 'edit-education' education.id %}">Edit</a>
                                    <a class="btn btn-outline-danger"
                                        href="{% url 'delete-education' education.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center">
                <img class="card-img-top" src="/static/media/experience-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Experience</h5>
                    <a href="{% url 'add-experience' %}" class="btn btn-success pl-3"
                        style="font-size: 1.5rem;">Create</a>
                    <table class="table table-dark table-sm table-hover" style="font-size: 1.5rem;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for experience in experiences %}
                            <tr>
                                <td>{{experience.company}}</td>
                                <td>
                                    <a class="btn btn-outline-info"
                                        href="{% url 'edit-experience' experience.id %}">Edit</a>
                                    <a class="btn btn-outline-danger"
                                        href="{% url 'delete-experience' experience.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}