{% extends "dashboard-base.html" %}
{% block content %}
<div class="spacer">
    &nbsp;
</div>
<div class="container-fluid background-title text-center">
    <div class="row">
        <div class="col-12">
            <h2 class="main-title">Dashboard</h2>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center" style="width: 45rem; height: 45rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">About</h5>
                    <p class="card-text" style="font-size: 2rem;">Some quick example text to build on the card title
                        and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary" style="font-size: 1.25rem;">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center" style="width: 45rem; height: 45rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Skills</h5>
                    <p class="card-text" style="font-size: 2rem;">Some quick example text to build on the card title
                        and make up the bulk of the
                        card's content.</p>
                    <div class="d-flex justify-content-around">
                        <a href="#" class="btn btn-primary pl-3" style="font-size: 1.25rem;">Edit</a>
                        <a href="#" class="btn btn-success pl-3" style="font-size: 1.25rem;">Create</a>
                        <a href="#" class="btn btn-danger pl-3" style="font-size: 1.25rem;">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center" style="width: 45rem; height: 45rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Projects</h5>
                    <p class="card-text" style="font-size: 2rem;">Some quick example text to build on the card title
                        and make up the bulk of the
                        card's content.</p>
                    <div class="d-flex justify-content-around">
                        <a href="#" class="btn btn-primary pl-3" style="font-size: 1.25rem;">Edit</a>
                        <a href="#" class="btn btn-success pl-3" style="font-size: 1.25rem;">Create</a>
                        <a href="#" class="btn btn-danger pl-3" style="font-size: 1.25rem;">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center" style="width: 45rem; height: 45rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Education</h5>
                    <p class="card-text" style="font-size: 2rem;">Some quick example text to build on the card title
                        and make up the bulk of the
                        card's content.</p>
                    <div class="d-flex justify-content-around">
                        <a href="#" class="btn btn-primary pl-3" style="font-size: 1.25rem;">Edit</a>
                        <a href="#" class="btn btn-success pl-3" style="font-size: 1.25rem;">Create</a>
                        <a href="#" class="btn btn-danger pl-3" style="font-size: 1.25rem;">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-around">
            <div class="card bg-dark text-white text-center" style="width: 45rem; height: 45rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2.5rem;">Experience</h5>
                    <p class="card-text" style="font-size: 2rem;">Some quick example text to build on the card title
                        and make up the bulk of the
                        card's content.</p>
                    <div class="d-flex justify-content-around">
                        <a href="#" class="btn btn-primary pl-3" style="font-size: 1.25rem;">Edit</a>
                        <a href="#" class="btn btn-success pl-3" style="font-size: 1.25rem;">Create</a>
                        <a href="#" class="btn btn-danger pl-3" style="font-size: 1.25rem;">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}