{% extends "base.html" %}
{% block content %}
<div class="spacer">
    &nbsp;
</div>

<div class="container text-center col-md-12 pt-5 pb-5">
    <h4 class="delete-title">Are you sure you want to delete "{{project}}"</h4>

    <i class="fa-regular fa-circle-xmark p-5 bg-dark rounded-pill" style="color: #e43636; font-size: 25rem;"></i>

    <form action="" method="POST">
        {% csrf_token %}
        <a href="{% url 'dashboard' %}" class="delete-btn btn btn-success mt-5 mb-5">No</a>

        <input type="submit" name="Delete" value="Yes" class="delete-btn btn btn-danger mt-5 mb-5">

    </form>
</div>

{% endblock %}