@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Open+Sans:wght@300&family=Rubik:wght@500&family=Source+Code+Pro:wght@500&display=swap');

:root {
    --orange-background: #fb8500;
    --blue-background: #023047;
    --light-blue: #8ECAE6;
    --medium-blue: #219EBC;
    --light-yellow: #FFB703;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(45deg,
            rgba(251, 133, 0, 0.8) 100%,
            transparent 10%),
        linear-gradient(135deg, rgba(255, 183, 3, 0.5) 100%, transparent 100%),
        linear-gradient(45deg, transparent 75%, rgba(251, 133, 0, 0.8) 25%),
        linear-gradient(135deg, transparent 75%, rgba(255, 183, 3, 0.5) 100%);
    background-size: 25px 25px;
    background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0 12.5px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

h3,
h4,
h5 {
    font-size: 2rem;
    font-weight: 400;
}

/* Home Page */
.background {
    background: var(--orange-background);
    background: linear-gradient(139deg, rgba(251, 133, 0, 1) 30%, rgba(255, 183, 3, 1) 100%);
}

#hero-section {
    padding: 7rem;
    width: 100%;
}

#hero-section img {
    border-radius: 50rem;
    border: 1rem solid var(--blue-background);
}

#hero-section h2 {
    padding: 2rem;
}

/* Nav Bar */
.nav-bar-dark {
    background: var(--blue-background);
}

.nav-item {
    padding: 1rem;
    font-size: 2rem;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: var(--light-yellow) !important;
}

#navbarSupportedContent {
    padding-right: 5rem;
}



/* About page and skills progress bar */

.display-picture {
    border-radius: 50%;
    border: 1rem solid var(--blue-background);
}

.about-me h5 {
    font-size: 3.5rem;
}

.about-me li {
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 600;
    padding: 0.8rem;
}

.about-me span {
    font-size: 2.0rem;
    color: var(--blue-background);
    padding: 1rem;
}


.skills-font {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: justify;
}

.skills-title {
    font-size: 4rem;
}

.progress-section {
    width: 100%;
    border-radius: 15px;
    background: #333;
    padding: 1rem 2rem;
    margin: 0 auto;
}

.task-progress {
    margin: 0 0 1.5rem 0;
}

.task-progress p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    font-size: 3rem;
}

span {
    color: #eee;
    font-size: 2.5rem;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    height: 10px;
}

.progress::-webkit-progress-bar {
    background-color: #f0f0f0;
}

.progress::-webkit-progress-bar,
.progress::-webkit-progress-value {
    border-radius: 10px;
}

.progress::-moz-progress-bar {
    border-radius: 10px;
}

.progress1::-webkit-progress-value {
    background: #219EBC;
}

.progress2::-webkit-progress-value {
    background: #8ECAE6;
}

.progress3::-webkit-progress-value {
    background: #219EBC;
}

.progress4::-webkit-progress-value {
    background: #8ECAE6;
}

.progress5::-webkit-progress-value {
    background: #219EBC;
}


/* Projects */

.project-fonts {
    font-size: 0.5rem;
    font-weight: 500;
}

.project-skills {
    font-size: 0.8rem;
}

.project-links {
    font-size: 0.5rem;
}

@media(min-width:1000px) {
    .project-fonts {
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .project-skills {
        font-size: 2rem;
    }
    
    .project-links {
        margin: 0.8rem 0;
        padding: 0.8rem;
        font-size: 2rem;
    }

}

@media(min-width:600px) {
    .project-fonts {
        font-size: 0.8rem;
        font-weight: 500;
    }
    
    .project-skills {
        font-size: 1rem;
    }
    
    .project-links {
        margin: 0.6rem 0;
        padding: 0.6rem;
        font-size: 1rem;
    }

}

/* Education and Experiences */

/* footer */

#socials a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

#socials a:hover {
    color: var(--light-yellow);
}

.background-title {
    background-color: black;
    padding: 5rem;
    width: 100%;
}

.main-title {
    color: #fff;
    font-size: 4rem;
    letter-spacing: 0.6rem;
}

.spacer {
    width: 100%;
    height: 126.25px;
}

.footer-font {
    font-size: 1.5rem;
}

/* timeline */


.resume-title {
    font-size: 3.5rem;
    text-align: center;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 2rem 0;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: justify;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: justify;
    clear: both;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: rgba(2, 48, 71, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(2, 48, 71, 0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: rgba(2, 48, 71, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(2, 48, 71, 0.2);
}

.timeline ul li:nth-child(odd) h3 {
    padding: 0;
    margin: 0;
    color: rgba(2, 48, 71, 1);
    font-weight: 600;
    text-align: right;
}

.timeline ul li:nth-child(even) h3 {
    padding: 0;
    margin: 0;
    color: rgba(2, 48, 71, 1);
    font-weight: 600;
    text-align: left;
}

.timeline ul li:nth-child(odd) h5 {
    padding: 0;
    margin: 0;
    color: rgba(2, 48, 71, 1);
    font-weight: 300;
    text-align: right;
}

.timeline ul li:nth-child(even) h5 {
    padding: 0;
    margin: 0;
    color: rgba(2, 48, 71, 1);
    font-weight: 300;
    text-align: left;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(2, 48, 71, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(2, 48, 71, 0.3);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(2, 48, 71, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(2, 48, 71, 0.3);
}

@media(max-width:1000px) {
    .timeline {
        width: 100%;
    }
}

@media(max-width:767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }

    h2 {
        font-size: 40px;
        text-align: center;
    }

    .timeline:before {
        left: 20px;
        height: 100%;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: justify;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

.content {
    border: 1px dotted var(--blue-background);
    background-color: rgba(142, 202, 230, 0.4);
    padding: 2rem;
    border-radius: 10%;
}

/* contact us form */

.contact label {
    font-size: 1.8rem;
    font-weight: bold;
}

.contact input {
    font-size: 1.2rem;
}

.contact textarea {
    font-size: 1.2rem;
}

.contact button {
    font-size: 2rem;
    padding: 1rem 3rem;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* forms */

.form-style {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--blue-background);
    font-weight: 500;
    margin: 1rem 0 1rem 0;
}

.btn-style {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    font-size: 1.5rem;
}

.delete-title {
    font-size: 3rem;
}

.delete-btn {
    font-size: 4rem;
}
