{% for abouts in about %}
<div class="col-md-6 pt-4 pb-4">
  <img src="{{ abouts.second_image.url }}" class="mx-auto d-block img-thumbnail" alt="A picture of me"
    id="display-picture">
</div>
<div class="col-md-6 my-auto justify-content-evenly about-me">
  <h5>
    {{abouts.title}}
  </h5>
  <ul>
    <li>
      First Name: <span>{{abouts.first_name}}</span>
    </li>
    <li>
      Last Name: <span>{{abouts.last_name}}</span>
    </li>
    <li>
      Age: <span>{{abouts.age}}</span> 
    </li>
    <li>
      Nationality: <span>{{abouts.nationality}}</span>
    </li>
    <li>
      Langugages: <span>{{abouts.languages}}</span>
    </li>
    <li>
      Address: <span>{{abouts.address}}</span>
    </li>
  </ul>
  {% endfor %}
</div>