<div class="col-md-6 pt-4 pb-4">
  <img src="/static/media/display-picture.jpg" class="mx-auto d-block img-thumbnail" alt="A picture of me"
    id="display-picture">
</div>
<div class="col-md-6 my-auto justify-content-evenly about-me">
  <h5>
    Hi, I'm Alex !
  </h5>
  <ul>
    <li>
      First Name: <span>Alex</span>
    </li>
    <li>
      Last Name: <span>Antony</span>
    </li>
    <li>
      Age: <span>27</span>
    </li>
    <li>
      Nationality: <span>British</span>
    </li>
    <li>
      Langugages: <span>English & Malayalam</span>
    </li>
    <li>
      Address: <span>Newcastle Upon-Tyne, UK</span>
    </li>
  </ul>
</div>