<div class="col-md-6">
    <img src="static/media/display-picture.jpg" class="mx-auto d-block img-thumbnail rounded-pill" alt="A picture of me"
        id="display-picture">
</div>
<div class="col-md-6 my-auto justify-content-evenly">
    <h2>Who Am I ?</h2>
    <p>
        As a product release coordinator with a passion for programming, I bring a unique blend of skills to the table.
        With a background in chemistry and experience in the pharmaceutical manufacturing field, I have developed a
        strong foundation in quality control and assurance, as well as expertise in organic and inorganic chemistry,
        including NMR.
        <br>
        <br>
        Now, as I pursue my interest in computers and coding, I am completing a full stack development course by Code
        Institute to expand my skill set and explore new possibilities. I am excited to apply my analytical and
        problem-solving skills to the world of technology, and eager to see where this new journey takes me.
    </p>
    <h3>Skills</h3>
    <ul>
        <li>
            <i class="devicon-electron-original colored"></i>
            5S Certified
        </li>
        <li>
            <i class="devicon-electron-original colored"></i>
            Root Cause Analysis Certified
        </li>
        <li>
            <i class="devicon-electron-original colored"></i>
            Deviation Management Certified
        </li>
    </ul>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
</div>