{% for project in projects %}
{% if forloop.counter0 == 0 %}
<div class="carousel-item active">
    <img src="{{ project.thumbnail.url }}" class="d-block w-100" alt="{{ project.name }}">
    <div class="carousel-caption .d-none .d-sm-block">
        <h5>{{ project.name }}</h5>
        <a href="{{ project.live_url }}" class="btn btn-success project-links" target="_blank">Live Link</a>
        <a href="{{ project.github_URL }}" class="btn btn-danger project-links" target="_blank">Github Link</a>
        <p class="project-fonts">{{ project.description }}</p>
        {% for skill in project.skills.all %}
        <i class="devicon-{{ skill.icon }}-plain project-skills"></i>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="carousel-item">
    <img src="{{ project.thumbnail.url }}" class="d-block w-100" alt="{{ project.name }}">
    <div class="carousel-caption d-none d-md-block">
        <h5>{{ project.name }}</h5>
        <a href="{{ project.live_url }}" class="btn btn-success project-links" target="_blank">Live Link</a>
        <a href="{{ project.github_URL }}" class="btn btn-danger project-links" target="_blank">Github Link</a>
        <p class="project-fonts">{{ project.description }}</p>
        {% for skill in project.skills.all %}
        <i class="devicon-{{ skill.icon }}-plain project-skills"></i>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endfor %}