<div class="col-md-6 pt-5 contact">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <a href="{% url 'home' %}" class="btn btn-dark btn-style">Back</a>
        <input type="submit" , name="Submit" class="btn-style btn btn-primary">
    </form>
</div>
<div class="col-md-6 map-responsive">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d73226.57470870476!2d-1.6568433999999999!3d55.00237215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487d857e0c6f64cd%3A0xbe252b072a76191!2sNewcastle%20upon%20Tyne!5e0!3m2!1sen!2suk!4v1689714144963!5m2!1sen!2suk"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>