
<h2 class="resume-title">Education <i class="fa-solid fa-school"></i></h2>
<div class="timeline">
    <ul>
        {% for education in educations %}
        <li>
            <div class="content">
                <h3>{{education.qualification}}</h3>
                <hr class="light">
                <h5>{{education.institute}}</h5>
                <p>{{education.description}} </p>
            </div>
            <div class="time">
                <h4>{{education.start_date}}</h4>
            </div>
        </li>
        {% endfor %}
        <div style="clear:both;"></div>
    </ul>
</div>