<h2 class="text-center">Education</h2>
<div class="card">
    <div class="card-body">
        <h4>Institute</h4>
        <h3 class="card-title">Qualification</h3>
        <p class="card-text">Start Date</p>
        <p class="card-text">End Date</p>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h4>Institute</h4>
        <h3 class="card-title">Qualification</h3>
        <p class="card-text">Start Date</p>
        <p class="card-text">End Date</p>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation
            ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>