<h2 class="resume-title">Work Experience <i class="fa-solid fa-briefcase"></i></h2>
<div class="timeline">
    <ul>
        <li>
            <div class="content">
                <h3>Product Release Coordinator</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
                <h4>January 2023</h4>
            </div>
        </li>

        <li>
            <div class="content">
                <h3>Deviation Author</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
                <h4>August 2021</h4>
            </div>
        </li>

        <li>
            <div class="content">
                <h3>Laboratory Analyst</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
                <h4>September 2018</h4>
            </div>
        </li>

        <li>
            <div class="content">
                <h3>Chef</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
                <h4>June 2017</h4>
            </div>
        </li>

        <li>
            <div class="content">
                <h3>Health Care Assistant</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
                <h4>June 2015</h4>
            </div>
        </li>

        <div style="clear:both;"></div>
    </ul>
</div>