<div class="col" id="hero-section">
    <img src="static/media/avatar.png" class="my-auto img-thumbnail" alt="An avatar version of me" id="display-picture">
    <h2>Helloo!! My name is Alex Antony</h2>
    <h3>By day I currently work in the Pharmaceutical industry as a Product Release Coordinator in Quality Assurance.
        <br> By night I am a keen coder and am working towards a diploma in Full-Stack development
        <br>In this portfolio you can see what I've been getting up to, my education, experience and be sure to follow
        me on my socials</h3>
</div>