{% load static %}
<div class="col-md-6" id="hero-section">
    <h2>Hello!! My name is Alex Antony</h2>
    <img src="{% static 'media/avatar.png' %}" class="my-auto img-thumbnail display-picture" alt="An avatar version of me">
    <h3 class="pt-5">As a product release coordinator with a passion for programming, I bring a unique blend of skills to the table.
        With a background in chemistry and experience in the pharmaceutical manufacturing field, I have developed a
        strong foundation in quality control and assurance, as well as expertise in organic and inorganic chemistry,
        including NMR.
        <br>
        <br>
        Now, as I pursue my interest in computers and coding, I am completing a full stack development course by Code
        Institute to expand my skill set and explore new possibilities. I am excited to apply my analytical and
        problem-solving skills to the world of technology, and eager to see where this new journey takes me.
</div>