<div class="col-md-12">
    <h3 class="skills-title text-center">Skills</h3>
    <div class="progress-section" data-aos="fade-left" data-aos-once="true">
        <div class="task-progress">
            {% for skill in skills %}
            <p class="pt-2 pb-1"><i class="devicon-html5-plain"></i>
                {{skill.name}}
                <span>{{skill.proficiency}}%</span>
            </p>
            <progress class="progress progress1" max="100" value="{{skill.proficiency}}"></progress>
            {% endfor %}
        </div>
    </div>
</div>